@import './vars.css';

.container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin: 0 0 .8rem 0;
}

.container > div {
  background: var(--themeColor);
  display: flex;
  flex-direction: row;
  gap: .8rem;
  padding: .8rem 1rem;
  align-items: center;
  justify-content: right;
  position: relative;
  width: 100%;
}

.container > div h3 {
  flex: 1;
  font-size: 1rem;
}

.container > div img {
  align-self: center;
  flex: 0 0 auto;
  max-height: 4rem;
  max-width: 6rem;
}

@media screen and (min-width: 667px) {
  .container > div {
    width: calc(50% - .5rem);
  }
}

@media screen and (min-width: 1180px) {
  .container > div {
    width: calc(33.33% - .8rem);
  }
}

@media screen and (min-width: 1313px) {
  .container > div {
    width: calc(25% - .8rem);
  }
}
