@import '../../styles/vars.css';

input {
  border: none;
  background: var(--lightGrey);
  padding: 1rem 0.5rem;
  border-radius: .3rem;
  width: 100%;
  outline: none;
  font-size: 1rem;
}

label {
  display: block;
}

.error-message {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 .8rem;
  background: #d30909;
  color: #fff;
}

.textbox .error-message:empty {
  opacity: 0;
}
